html{font-size:62.5%}body{height:100vh;font-family:"Open Sans",sans-serif;font-size:1.6rem}h1{font-size:2.4rem}h2{font-size:2.1rem}h3{font-size:1.8rem}h4{font-size:1.6rem}h5{font-size:1.4rem}p,li,a{font-size:1.6rem}
